{% load static %}

<meta charset="UTF-8">
<div>
	<a class="menub" id="1" href="javascript:home()">home</a>
	<a class="menub" id="2" href="javascript:illust()">&nbsp;illust&nbsp;</a>
	<a class="menub" id="3" href="javascript:about()">about</a>
	
</div>
<div class="info">
	<a  class="infoa" href="mailto:info@arupaka3myaku.art?subject=%E3%81%8A%E5%95%8F%E3%81%84%E5%90%88%E3%82%8F%E3%81%9B&amp;body=%E3%81%8A%E5%AE%A2%E6%A7%98%E5%90%8D%20%3A%0D%0A%0D%0A%E3%81%8A%E5%95%8F%E3%81%84%E5%90%88%E3%82%8F%E3%81%9B%E5%86%85%E5%AE%B9%20%3A%0D%0A">MailAddress&nbsp;&nbsp;info@arupaka3myaku.art</a>
	<p style="text-decoration: none; color: #a0a0a0;">&copy; arupaka3myaku</p>
</div>