
{% block home %}
    <h3> home</h3>
    <div style="margin-left: 10px;text-align: left;">
        <strong>アルパカ山脈説明</strong>
        <p style="margin-left: 10px;">
            京都精華大学でマンガやイラストの研究をしながら自身も1回生の頃よりイラストレーターとして活動してきました。<br>
            3回生の頃よりweb業界・プログラミングに興味を持ち、就活の方針をweb業界に転換、就職しました。<br>
            <br>
            現在はサラリーマンの傍ら、フリーランスとしてフロントエンジニア・イラストレーターをしています。<br>
            <br>
            ・webサイト作成<br>
            ・webデザイン作成<br>
            ・イラスト作成<br>
            &nbsp;&nbsp;&nbsp;等が可能です。現在、ご依頼を受け付けております。
        </p>
        <strong>経歴</strong>
        <p style="margin-left: 10px;text-align: left;">
            2021年&nbsp;3月&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;京都精華大学&nbsp;卒業<br>
            2021年&nbsp;4月～&nbsp;&nbsp;SESとしてweb系プロジェクト参画(フロントエンジニア)
        </p>
    </div>
{% endblock %}
